.card-img-top {
    width: 50%;
    height: 100px;
    object-fit: cover;
}
body {
    color: #4984b2; 
    background-color: #f8f9fa; 
}

h1, h2, h5 {
    color: #a86ac9;
}

p, li {
    color: #b51919;
}

.list-group-item {
    background-color: #e6f2ff; 
    border: 1px solid #b3d1ff;
    color: #acca75;
}
